@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    /* CORES */
    --CorPrincipal: #f9c04d;
    --CorSecundaria: #c05307;
    --FundoClaro: #feebed;
    /* CORES */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--CorPrincipal); */
    color: var(--CorSecundaria);
    font-family: "Cormorant Garamond", serif;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav {
      position: fixed; /* Fixa a barra */
      top: 0; /* No topo */
      left: 0;
      width: 100%; /* Ocupa toda a largura */
      background-color: var(--CorPrincipal);
      color: white;
      padding: 10px 20px;
      z-index: 1000; /* Garante que fique acima do conteúdo */
    }

    body {
        background-color: var(--CorPrincipal);
    }
    main {
      margin-top: 60px; /* Dá espaço para o conteúdo não ficar escondido atrás da barra */
      padding: 20px;
    }

    img {
        height: 60px;
        width: 60px;
    }

    header {
        background-color: var(--CorPrincipal);
    }

    .sobre {
        background-color: var(--FundoClaro);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #carouselExampleSlidesOnly {
        background-color: var(--CorPrincipal);
        width: 200px;
        height: 200px;
    }

    .mvv {
        background-color: var(--CorPrincipal);
    }

    .pedidos {
        background-color: var(--FundoClaro);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    button {
        width: 190px;
        height: 190px;
        background-color: var(--CorSecundaria);
        color: whitesmoke;
        border-radius: 90%;
        border: 3px solid var(--CorPrincipal);
        cursor: pointer;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .final {
        background-color: var(--FundoClaro);
        display: flex;
        justify-content: space-around;
        align-items: center;
       
    }